services:
  db:
    image: postgres:15
    container_name: odoo_db
    environment:
      - POSTGRES_BD=postgres
      - POSTGRES_USER=odoo
      - POSTGRES_PASSWORD=odoo
    volumes: 
      - ./postgres:/var/lib/postgresql/data
    restart: unless-stopped

  odoo:
    image: odoo:16
    container_name: odoo_app
    depends_on:
      - db
    port:
      - "8069:8069"
    environment:
      - HOST=db
      - USER=odoo
      - PASSWORD=odoo
    volumes:
      - ./config/odoo.conf:/etc/odoo/odoo.conf
      - ./odoo/addons:/mnt/extra-addons
    restart: unless-stopped
